<div id="container" *ngIf="userData">
  <button (click)="getNewUser()">NEW USER</button>
  <div id="userInfo">
    <img [src]="userData.picture.large" alt="profilePic">
    <h2>
      {{ userData.name.first }} {{ userData.name.last }}, {{ userData.name.title }}
    </h2>
    <h3>{{ userData.email }}</h3>
  <div id="info">
    <h3>Basic Info: </h3>
    <ul>
      <li><b>Date of Birth:</b> {{ userData.dob.date | date }}</li>
      <li><b>Gender: </b> {{ userData.gender }} </li>
      <li><b>Phone Number:</b>  {{ userData.phone }}</li>
      <li><b>Date Registered: </b> {{ userData.registered.date | date }}</li>
    </ul>
  </div>
  </div>
</div>

<form #f="ngForm" (ngSubmit)="onSubmit()">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" #name ngModel>

  <label for="username">Username: </label>
  <input type="text" name="username" id="username" #username ngModel>

  <label for="suggest">Password: </label>
  <input type="text" name="suggest" id="suggest" #suggest ngModel>
  <p #infoBox>Suggested Password is Weak</p>
  <button id="passwordLabel" type="button" (click)="suggestPassword()">Suggest Password</button>

  <label for="gender">Gender: </label>
  <input type="text" name="gender" id="gender" #gender ngModel>
  <label for="number">Phone Number: </label>
  <input type="number" name="number" id="number" #number ngModel>
  <button type="submit" id="submitBtn">Submit</button>
</form>

<div id="profilePreview" #profileContainer>

</div>
